# Настройки Environment
APP_CONFIG__ENV__ENV="dev"  # dev, prod, test

# Настройки базы данных
APP_CONFIG__DB__NAME="your_db_name"
APP_CONFIG__DB__USER="your_db_user"
APP_CONFIG__DB__PASSWORD="your_db_password"
APP_CONFIG__DB__HOST="localhost"
APP_CONFIG__DB__PORT="any_port"
APP_CONFIG__DB__URL="postgresql+asyncpg://${APP_CONFIG__DB__USER}:${APP_CONFIG__DB__PASSWORD}@${APP_CONFIG__DB__HOST}}:${APP_CONFIG__DB__PORT}/${APP_CONFIG__DB__NAME}"
APP_CONFIG__DB__ECHO="0"

# Тестовая база данных
APP_CONFIG__DB__IS_TEST="False"  # True or False
APP_CONFIG__DB__TEST_NAME="your_db_test_name"
APP_CONFIG__DB__TEST_USER="your_db_test_user"
APP_CONFIG__DB__TEST_PASSWORD="your_db_test_password"
APP_CONFIG__DB__TEST_URL="postgresql+asyncpg://${APP_CONFIG__DB__TEST_USER}:${APP_CONFIG__DB__TEST_PASSWORD}@localhost:5434/${APP_CONFIG__DB__TEST_NAME}"
APP_CONFIG__DB__TEST_ECHO="1"

# Секретный ключ для JWT
APP_CONFIG__AUTH__ALGORITHM="any_algorithm"
APP_CONFIG__AUTH__ACCESS_TOKEN_EXPIRES="your_any_expires"  # в днях
APP_CONFIG__AUTH__REFRESH_TOKEN_EXPIRES="your_any_expires"  # в минутах

# Настройки Redis
APP_CONFIG__REDIS__URL="redis://localhost:6378/0"
APP_CONFIG__REDIS__SALT="your_redis_salt"
APP_CONFIG__REDIS__PASSWORD="your_redis_password"
APP_CONFIG__REDIS__SESSION_TTL="any_ttl"

# Настройки кеширования
APP_CONFIG__CACHE__USER_TTL="any_ttl"  # 1 час
APP_CONFIG__CACHE__CONSENT_TTL="any_ttl"

# Настройки приложения
APP_CONFIG__RUN__HOST="127.0.0.1"
APP_CONFIG__RUN__PORT="your_any_port"

# Настройки CORS
APP_CONFIG__CORS__ALLOW_ORIGINS='["https://your_domain", "https://www.your_domain"]'
APP_CONFIG__CORS__ALLOW_METHODS='["YOUR", "ANY", "METHODS"]'
APP_CONFIG__CORS__ALLOW_HEADERS='["YOUR", "ANY", "HEADERS"]'
APP_CONFIG__CORS__ALLOW_CREDENTIALS="True"

# Настройки лимитов
APP_CONFIG__RATE_LIMIT__REGISTER="5/minute"
APP_CONFIG__RATE_LIMIT__LOGIN="5/minute"
APP_CONFIG__RATE_LIMIT__PASSWORD_CHANGE="3/minute"

# Настройки почтового сервиса
APP_CONFIG__MAIL__HOST="your_smtp_host"
APP_CONFIG__MAIL__PORT=your_smtp_port
APP_CONFIG__MAIL__BUTTON_LINK="your_button_link"
APP_CONFIG__MAIL__UNSUBSCRIBE_LINK="your_unsubscribe_link"
APP_CONFIG__MAIL__USERNAME="your_smtp_username"
APP_CONFIG__MAIL__PASSWORD="your_smtp_password"
APP_CONFIG__MAIL__USE_TLS="True"

# Настройки Taskiq
APP_CONFIG__TASKIQ__URL="amqp://guest:guest@localhost:5672/"

# Настройки логирования
APP_CONFIG__LOGGING__LOG_LEVEL="INFO"  # DEBUG, INFO, WARNING, ERROR, CRITICAL
APP_CONFIG__LOGGING__LOG_FORMAT="[%(asctime)s.%(msecs)03d] %(name)-20s:%(lineno)3d %(levelname)-7s - %(message)s"
APP_CONFIG__LOGGING__LOG_TASKIQ_FORMAT="[%(asctime)s.%(msecs)03d] [%(processName)s] %(module)s:%(lineno)d %(levelname)s - %(message)s"
APP_CONFIG__LOGGING__LOG_DATE_FORMAT="%Y-%m-%d %H:%M:%S"
APP_CONFIG__LOGGING__LOG_WHEN="MIDNIGHT"
APP_CONFIG__LOGGING__LOG_UTC=1
APP_CONFIG__LOGGING__LOG_INTERVAL="1"  # каждый день
APP_CONFIG__LOGGING__LOG_FILE_BACKUP_COUNT="7"

# Настройки Grafana
APP_CONFIG__GF_SERVER_PROTOCOL="https"
APP_CONFIG__GF_SERVER_DOMAIN="nutricoreiq.ru"
APP_CONFIG__GF_SERVER_ROOT_URL="https://nutricoreiq.ru/grafana/"